.btnFav {
  border: solid 2px #f3f4f6;
  color: #f3f4f6;
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  margin-top: 12px;
}
.btnFav.isFav {
  background-color: #017782;

  &:hover {
    background-color: #0c9dab;
  }
}
